* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

#header {
    display: flex;
    padding-left: 60px;
    
}

#header .topic {
    font-size: 50px;
    font-weight: 550;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#header .profile {
   padding-left: 50px;
}

.profile h1 {
    padding-bottom: 10px;
}

#header .profile-detail{
    border-radius: 5px;
    background-color: #e3e0e0b5;
    padding: 10px;
    width: 70%;
}

.info {
    padding: 20px 0;
}

.info p {
    padding-bottom: 10px;
}

.slider {
    display: flex;
    padding-left: 60px;
    padding-top: 60px;
}

.slider .content {
    padding-right: 60px;
}

.title {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}

.date {
    font-size: 20px;
    font-family: math;
    margin-bottom: 10px;

}

/* .ability {
    margin-top: 10px;
} */

 .content li {
    width: 600px;
} 

/* .skill {
    
    padding: 15px;
} */

.skill h1 {
    padding-bottom: 10px;
}
.skill-top {
    padding: 10px;
    border-radius: 5px;
    background-color: #e3e0e0b5;
    margin-bottom: 15px;
}

ul.leaders {
    width: 420px;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 5px;
    background-color: #e3e0e0b5;
}
ul.leaders span + span {
    float: right;
    padding-left: 5px;
    background-color: #e3e0e0b5;
}
  
.languages {
    border-radius: 5px;
    background-color: #e3e0e0b5;
    padding: 10px;

}

.container {
    display: flex;
    padding-left: 60px;
    padding-top: 10px;
    
}

.container .content {
    padding-right: 60px;
}

.referees-right {
    width: 420px;
    list-style: none;

}

.referees-right li {
    margin-bottom: 10px;
    
}

.bold {
    font-weight: bold;
}