<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="layout1">
        <span>1</span>
        <span>2</span>

        
    </div>
    <div class="layout2">
        <span class="row3">3</span>
        <span class="row4">4</span>
    </div>
    <div class="layout3">
        <span>5</span>
    </div>




    <div>
        <div class="layout4">
          <span>6</span>
          <span>7</span>
        </div>
        <div class="layout5">
          <span>8</span>
          <span>
            <div class="cover">
              <div class="row9">9</div>
              <div class="both">
                <span class="row10">10</span>
                <span class="row11">11</span>
              </div>
            </div>
          </span>
        </div>
      </div>



      <div>
        <div class="layout6">
          <span>12</span>
        </div>
            <div class="layout7">
                <span>13</span>
                    <div class="cover">
                        <div class="row14">14</div>
                        <div class="both">
                            <span class="row15">15</span>
                            <span class="row16">16</span>
                        </div>   
                    </div>
            </div>     
      </div>
    </div>
    <Script src="./vd.js"></Script>
</body>
</html>